# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# ------------General------------
.vscode/
**/__pycache__/
*.pyc
*.pyo
*.pyd

# ------------Backend------------
# backend depencencies

saferide_backend/__pycache__/
saferide_backend/*.pyc
saferide_backend/*.pyo
saferide_backend/*.pyd
saferide_backend/accounts/__pycache__/
saferide_backend/accounts/migrations/__pycache__/
saferide_backend/saferide_backend/__pycache__/

# Virtual Environments
saferide_backend/.venv/

saferide_backend/media
# ------------Frontend------------
# dependencies
saferide_frontend/node_modules/
saferide_frontend/.pnp
saferide_frontend/.pnp.js
saferide_backend/db.sqlite3

saferide_backend/media

# __________NOT USED__________
# # testing
# /coverage

# # production
# /build

# misc
# .DS_Store
# .env.local
# .env.development.local
# .env.test.local
# .env.production.local

# npm-debug.log*
# yarn-debug.log*
# yarn-error.log*
# Python cache files
*.pyc
__pycache__/

# Virtual environment
venv/

# SQLite database
*.sqlite3

# Media files
media/
