# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# ------------General------------
.vscode/
**/__pycache__/
**/__pycache__/**
*.pyc
*.pyo
*.pyd
ocr_detail.csv
ocr_summary.csv

# ------------Backend------------
# backend depencencies

saferide_backend/__pycache__/**
saferide_backend/*.pyc
saferide_backend/*.pyo
saferide_backend/*.pyd

saferide_backend/accounts/__pycache__/
saferide_backend/accounts/migrations/__pycache__/**/*.pyc
saferide_backend/accounts/migrations/__pycache__/**/*.pyo
saferide_backend/accounts/migrations/__pycache__/**/*.pyd
saferide_backend/accounts/*.pyc
saferide_backend/accounts/*.pyo
saferide_backend/accounts/*.pyd
saferide_backend/accounts/migrations/*.pyc
saferide_backend/accounts/migrations/*.pyo
saferide_backend/accounts/migrations/*.pyd

saferide_backend/saferide_backend/__pycache__/
saferide_backend/saferide_backend/migrations/__pycache__/**/*.pyc
saferide_backend/saferide_backend/migrations/__pycache__/**/*.pyo
saferide_backend/saferide_backend/migrations/__pycache__/**/*.pyd
saferide_backend/saferide_backend/*.pyc
saferide_backend/saferide_backend/*.pyo
saferide_backend/saferide_backend/*.pyd
saferide_backend/saferide_backend/migrations/*.pyc
saferide_backend/saferide_backend/migrations/*.pyo
saferide_backend/saferide_backend/migrations/*.pyd

# Virtual Environments
saferide_backend/.venv/

# ------------Frontend------------
# dependencies
saferide_frontend/node_modules/
saferide_frontend/.pnp
saferide_frontend/.pnp.js
saferide_backend/db.sqlite3

# OS generated files
.DS_Store
Thumbs.db

# Environment files
.env*

# Logs and temp files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
ffmpeg/ffmpeg-2026-01-07-git-af6a1dd0b2-full_build/LICENSE
ffmpeg/ffmpeg-2026-01-07-git-af6a1dd0b2-full_build/README.txt
ffmpeg/ffmpeg-2026-01-07-git-af6a1dd0b2-full_build/bin/ffmpeg.exe
ffmpeg/ffmpeg-2026-01-07-git-af6a1dd0b2-full_build/bin/ffplay.exe
ffmpeg/ffmpeg-2026-01-07-git-af6a1dd0b2-full_build/bin/ffprobe.exe
ffmpeg/ffmpeg-2026-01-07-git-af6a1dd0b2-full_build/doc/bootstrap.min.css
ffmpeg/ffmpeg-2026-01-07-git-af6a1dd0b2-full_build/doc/community.html
ffmpeg/ffmpeg-2026-01-07-git-af6a1dd0b2-full_build/doc/default.css
ffmpeg/ffmpeg-2026-01-07-git-af6a1dd0b2-full_build/doc/developer.html
ffmpeg/ffmpeg-2026-01-07-git-af6a1dd0b2-full_build/doc/drawvg-reference.html
ffmpeg/ffmpeg-2026-01-07-git-af6a1dd0b2-full_build/doc/faq.html
ffmpeg/ffmpeg-2026-01-07-git-af6a1dd0b2-full_build/doc/fate.html
ffmpeg/ffmpeg-2026-01-07-git-af6a1dd0b2-full_build/doc/ffmpeg-all.html
ffmpeg/ffmpeg-2026-01-07-git-af6a1dd0b2-full_build/doc/ffmpeg-bitstream-filters.html
ffmpeg/ffmpeg-2026-01-07-git-af6a1dd0b2-full_build/doc/ffmpeg-codecs.html
ffmpeg/ffmpeg-2026-01-07-git-af6a1dd0b2-full_build/doc/ffmpeg-devices.html
ffmpeg/ffmpeg-2026-01-07-git-af6a1dd0b2-full_build/doc/ffmpeg-filters.html
ffmpeg/ffmpeg-2026-01-07-git-af6a1dd0b2-full_build/doc/ffmpeg-formats.html
ffmpeg/ffmpeg-2026-01-07-git-af6a1dd0b2-full_build/doc/ffmpeg-protocols.html
ffmpeg/ffmpeg-2026-01-07-git-af6a1dd0b2-full_build/doc/ffmpeg-resampler.html
ffmpeg/ffmpeg-2026-01-07-git-af6a1dd0b2-full_build/doc/ffmpeg-scaler.html
ffmpeg/ffmpeg-2026-01-07-git-af6a1dd0b2-full_build/doc/ffmpeg-utils.html
ffmpeg/ffmpeg-2026-01-07-git-af6a1dd0b2-full_build/doc/ffmpeg.html
ffmpeg/ffmpeg-2026-01-07-git-af6a1dd0b2-full_build/doc/ffplay-all.html
ffmpeg/ffmpeg-2026-01-07-git-af6a1dd0b2-full_build/doc/ffplay.html
ffmpeg/ffmpeg-2026-01-07-git-af6a1dd0b2-full_build/doc/ffprobe-all.html
ffmpeg/ffmpeg-2026-01-07-git-af6a1dd0b2-full_build/doc/ffprobe.html
ffmpeg/ffmpeg-2026-01-07-git-af6a1dd0b2-full_build/doc/general.html
ffmpeg/ffmpeg-2026-01-07-git-af6a1dd0b2-full_build/doc/git-howto.html
ffmpeg/ffmpeg-2026-01-07-git-af6a1dd0b2-full_build/doc/libavcodec.html
ffmpeg/ffmpeg-2026-01-07-git-af6a1dd0b2-full_build/doc/libavdevice.html
ffmpeg/ffmpeg-2026-01-07-git-af6a1dd0b2-full_build/doc/libavfilter.html
ffmpeg/ffmpeg-2026-01-07-git-af6a1dd0b2-full_build/doc/libavformat.html
ffmpeg/ffmpeg-2026-01-07-git-af6a1dd0b2-full_build/doc/libavutil.html
ffmpeg/ffmpeg-2026-01-07-git-af6a1dd0b2-full_build/doc/libswresample.html
ffmpeg/ffmpeg-2026-01-07-git-af6a1dd0b2-full_build/doc/libswscale.html
ffmpeg/ffmpeg-2026-01-07-git-af6a1dd0b2-full_build/doc/mailing-list-faq.html
ffmpeg/ffmpeg-2026-01-07-git-af6a1dd0b2-full_build/doc/nut.html
ffmpeg/ffmpeg-2026-01-07-git-af6a1dd0b2-full_build/doc/platform.html
ffmpeg/ffmpeg-2026-01-07-git-af6a1dd0b2-full_build/doc/style.min.css
ffmpeg/ffmpeg-2026-01-07-git-af6a1dd0b2-full_build/presets/libvpx-360p.ffpreset
ffmpeg/ffmpeg-2026-01-07-git-af6a1dd0b2-full_build/presets/libvpx-720p.ffpreset
ffmpeg/ffmpeg-2026-01-07-git-af6a1dd0b2-full_build/presets/libvpx-720p50_60.ffpreset
ffmpeg/ffmpeg-2026-01-07-git-af6a1dd0b2-full_build/presets/libvpx-1080p.ffpreset
ffmpeg/ffmpeg-2026-01-07-git-af6a1dd0b2-full_build/presets/libvpx-1080p50_60.ffpreset
mediamtx/LICENSE
mediamtx/mediamtx.exe
mediamtx/mediamtx.yml
*.mp4
