# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# ------------General------------
.vscode/
**/__pycache__/
**/__pycache__/**
*.pyc
*.pyo
*.pyd

# ------------Backend------------
# backend depencencies

saferide_backend/__pycache__/**
saferide_backend/*.pyc
saferide_backend/*.pyo
saferide_backend/*.pyd

saferide_backend/accounts/__pycache__/
saferide_backend/accounts/migrations/__pycache__/**/*.pyc
saferide_backend/accounts/migrations/__pycache__/**/*.pyo
saferide_backend/accounts/migrations/__pycache__/**/*.pyd
saferide_backend/accounts/*.pyc
saferide_backend/accounts/*.pyo
saferide_backend/accounts/*.pyd
saferide_backend/accounts/migrations/*.pyc
saferide_backend/accounts/migrations/*.pyo
saferide_backend/accounts/migrations/*.pyd

saferide_backend/saferide_backend/__pycache__/
saferide_backend/saferide_backend/migrations/__pycache__/**/*.pyc
saferide_backend/saferide_backend/migrations/__pycache__/**/*.pyo
saferide_backend/saferide_backend/migrations/__pycache__/**/*.pyd
saferide_backend/saferide_backend/*.pyc
saferide_backend/saferide_backend/*.pyo
saferide_backend/saferide_backend/*.pyd
saferide_backend/saferide_backend/migrations/*.pyc
saferide_backend/saferide_backend/migrations/*.pyo
saferide_backend/saferide_backend/migrations/*.pyd

# Virtual Environments
saferide_backend/.venv/

# ------------Frontend------------
# dependencies
saferide_frontend/node_modules/
saferide_frontend/.pnp
saferide_frontend/.pnp.js
saferide_backend/db.sqlite3

# OS generated files
.DS_Store
Thumbs.db

# Environment files
.env*

# Logs and temp files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Database
saferide_backend/db.sqlite3

# Media & runtime artifacts
saferide_backend/media/
runs/

# Videos & images
*.mp4
*.avi
*.mov
*.jpg
*.png
